//
// ------------------------------------------------------------
// SCSS
// ------------------------------------------------------------
//
@import '../common';
/*
  ------------------------------------------------------------
  BAR CHARTS
  ------------------------------------------------------------
*/
.bar_chart_header h1 {
    color: $rgb-primary;
}
.bar_chart_horz {
    margin: 3em 0 4em;
    padding: 0;
    list-style-type: none;
    color: $rgb-primary;
}
.bar_chart_horz li {
    position: relative;
    margin: 1em 0;
    padding: 0;
    border-right: 1px solid $rgb-primary-lightest;
    font-size: 1.25em;
    height: 2.5em;
}
.bar_chart_horz li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    width: 100%;
    height: 1px;
    background: $rgb-primary-lightest;
    z-index: 0;
}
.bar_chart_horz__bar {
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    padding: 0.5em 0;
    color:  $rgb-primary-contrast;
    background:  $rgb-primary;
    z-index: 1;
    -webkit-transition: width 6s ease-in-out;
    -moz-transition: width 6s ease-in-out;
    -ms-transition: width 6s ease-in-out;
    -o-transition: width 6s ease-in-out;
    transition: width 6s ease-in-out;
}
.bar_chart_horz__value {
    width: max-content;
    float: left;
    padding: 0 0 0 1em;
}
.bar_chart_horz__percentage {
    float: right;
    padding: 0 1em 0 0;
    font-weight: 400;
    font-style: italic;
}

.bar_chart_vert {
    position: relative;
    margin: 3em 0 4em;
    padding: 0 0 0 25%;
    width: 100%;
    height: 16em;
    border-bottom: 1px solid $rgb-primary-contrast;
    list-style-type: none;
}
.bar_chart_vert li {
    position: relative;
    float: left;
    display: block;
    width: 25%;
    height: 100%;
    padding: 0 1em;
    color:  $rgb-primary-contrast;
    font-size: 1em;
    line-height: 1.35em;
    font-weight: 700;
    text-align: center;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
.bar_chart_vert__label_line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    border-top: 1px dashed $rgb-primary-darkest;
    z-index: -1;
}
.bar_chart_vert__label_box {
    position: absolute;
    left: 0;
    color: $rgb-primary;
    font-size: 1.25em;
    letter-spacing: 0.02em;
}
.bar_chart_vert__bar {
    position: absolute;
    bottom: 0;
    width: 80%;
    margin: 0 20% 0 0;
    padding: 1em 0.5em;
    color: $rgb-primary-contrast;
    background:  $rgb-primary;
}
