//
// ------------------------------------------------------------
// SCSS
// ------------------------------------------------------------
//
@import '../common';
/*
  ------------------------------------------------------------
  PROJECTION BAR
  ------------------------------------------------------------
*/
.projection {
    position: relative;
    margin: 5em 0 5em;
    padding: 0;
    list-style-type: none;
    color: $rgb-primary;
    @include vendor-prefix(transform, rotate(-5deg));
}
.projection li {
    float: left;
    margin: 0;
    padding: 1em 2em;
    font-size: 1em;
    font-style: italic;
    text-align: center;
    @include vendor-prefix(transform, rotate(5deg));
}
// projection line
.projection:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background: $rgb-primary;
}
.item {
}
.station {
    position: relative;
    margin: 1em 0 0;
    padding: 0.35em 0.5em;
    border-radius: 0.5em;
    border: 2px solid $rgb-primary-lightest;
    text-align: center;
    font-size: 1.5em;
    background-color: $rgb-primary;
}
// bullet point circle
.station:before {
    content: '';
    display: block;
    position: absolute;
    top: -2.25em;
    left: 50%;
    width: 1em;
    height: 1em;
    margin-left: -0.5em;
    background: $rgb-primary;
    border-radius: 0.5em;
}
// arrow
.station:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    height: 0;
    width: 0;
    border: 0.5em solid transparent;
    border-bottom-color: $rgb-primary;
    margin-left: -0.5em;
    pointer-events: none;
    z-index: -5;
}
.date {
    position: absolute;
    top: -1em;
    right: -1.25em;
    color: $rgb-primary-lightest;
    font-size: 0.8em;
    font-weight: 300;
    font-style: italic;
    line-height: 0;
    text-align: right;
}
.title {
    color: $rgb-primary-contrast;
}
.description {
    margin: 0.5em 0 0;
    line-height: 1.4em;
    color: $rgb-primary-darkest;
}
@media #{$narrow-window} {
    li.projection-item:first-child {
        display: none;
    }
    li.projection-item {
        width: 48%;
    }
}
