//
// ------------------------------------------------------------
// SCSS
// ------------------------------------------------------------
//
@import '../common';
/*
  ------------------------------------------------------------
  TIME BAR
  ------------------------------------------------------------
*/
.timebar {
    position: relative;
    margin: 0;
    padding: 2em 0;
    list-style-type: none;
}
.timebar li {
    position: relative;
    margin: 1.25em 0 1.25em 4em;
    padding: 1em;
    border-radius: 0.5em;
    border: 2px solid $rgb-primary-darkest;
    background: $rgb-background;
}
// bullet point circles
.timebar li:before {
    content: '';
    position: absolute;
    top: 2em;
    left: -2em;
    width: 1em;
    height: 1em;
    background: $rgb-primary-darkest;
    border-radius: 0.5em;
}
// arrow
.timebar li:after {
    content: '';
    position: absolute;
    right: 100%;
    top: 2.5em;
    height: 0;
    width: 0;
    border: 0.5em solid transparent;
    border-right-color: $rgb-primary-darkest;
    margin-top: -0.5em;
    pointer-events: none;
    z-index: -5;
}
// line through bullet points
.timebar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 2.6em;
    height: 100%;
    width: 0.1em;
    background: $rgb-primary;
    @include vendor-prefix(background, linear-gradient(to bottom, rgba(185, 185, 185, 0) 0%, #b9b9b9 10%, #b9b9b9 90%, rgba(185, 185, 185, 0) 100%));
}
.timebar__date {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.25em 0.75em;
    color: $rgb-primary-contrast;
    background: $rgb-primary;
    border-top-right-radius: 0.4em;
    font-size: 0.9em;
    font-weight: 600;
}
.timebar__title {
    color: $rgb-primary;
    margin: 0.2em 0;
    font-size: 1.5em;
    font-weight: 500;
    // text-shadow: 1px 1px $rgb-primary-lightest;
}
.timebar__subtitle {
    padding: 0 0 1em;
    font-weight: 300;
}
.timebar__subtitle:before {
    content: '\2013\20';
}
.timebar__subtitle:after {
    content: '\20\2013';
}
.timebar__desc {
    padding: 0 0 0 1em;
    color: $rgb-primary;
    font-size: 0.9em;
    font-style: italic;
}
