//
// ------------------------------------------------------------
// SCSS
// ------------------------------------------------------------
//
@import '../common';
/*
  ------------------------------------------------------------
  PRICE TICKETS
  ------------------------------------------------------------
*/
.price_area {
    background: $rgb-secondary;
}
.price_section {}
.price_section h1 {
    color: $rgb-primary;
    margin-top: 3em;
    text-transform: uppercase;
    font-weight: 600;
}
.pricingTable {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
}
.pricingBox {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    margin-bottom: 4em;
    float: left;
}
.pricingBox ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    cursor: pointer;
    border: solid 1px $rgb-secondary;
    z-index: 1;
}
.pricingBox ul:hover .subscriptionPrice {
    background: $rgb-primary;
    @include vendor-prefix(transition, all 0.3s ease-in-out);
}
.pricingBox ul li {
    text-align: center;
    border-bottom: solid 1px $rgb-secondary;
    line-height: 3em;
    background: $rgb-background;
}
.pricingBox li.planTitle {
    text-transform: uppercase;
    line-height: 3em;
    font-size: 1em;
}
.pricingBox li.subscriptionPrice {
    background: $rgb-primary-lightest;
    color: $rgb-background;
    position: relative;
    border-bottom: none;
    font-size: 1em;
}
.pricingBox li.subscriptionPrice .currency {
    position: absolute;
    top: 1.5em;
    left: 50%;
    margin-left: -5em;
    font-size: 100%;
}
.pricingBox li.subscriptionPrice .price {
    font-size: 400%;
    font-weight: 600;
    font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
    line-height: 106px;
}
.pricingBox li.signup {
    position: absolute;
    left: 50%;
    bottom: -2em;
    margin-left: -4em;
    background: $rgb-primary-lightest;
    //line-height: 45px !important;
}
.pricingBox li.signup a {
    color: black;
    text-transform: uppercase;
    padding: 1em 2em;
    line-height: 42px;
    border: solid 1px $rgb-secondary;
}
.pricingBox li.signup a:hover {
    background: $rgb-primary;
    border: solid 1px $rgb-primary-darkest;
    color: $rgb-background;
}
.pricingBox.featured {}
.pricingBox.featured li.planTitle {
    line-height: 4em;
}
.pricingBox.featured ul {
    border: solid 2px $rgb-primary;
    z-index: 2;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, .11);
}
.last {
    padding-bottom: 1em;
}
.pricingBox.featured ul li {
    line-height: 3.5em;
}
.pricingBox.featured ul:hover .subscriptionPrice {
    background: $rgb-primary-darkest;
    @include vendor-prefix(transition, all 0.3s ease-in-out);
}
.pricingBox.featured li.subscriptionPrice {
    background: $rgb-primary;
}
.pricingBox.featured li.subscriptionPrice .price {
    line-height: 1.5em;
    font-size: 600%;
}
.pricingBox.featured li.subscriptionPrice .currency {
    top: 25px;
    margin-left: -80px;
}
.signup {
    border-bottom: none;
}
.pricingBox.featured li.signup a {
    background: $rgb-primary;
    color: $rgb-background;
    border: solid 1px $rgb-secondary;
}
.pricingBox.featured li.signup a:hover {
    background: $rgb-primary-darkest;
    color: $rgb-background;
    border: solid 1px $rgb-secondary;
}
