//
// ------------------------------------------------------------
// SCSS
// ------------------------------------------------------------
//
@import '../common';
/*
  ------------------------------------------------------------
  SHOUT OUT and QUOTES
  ------------------------------------------------------------
*/
.shoutout {
    position: relative;
    margin: 2em 0;
    padding: 2em;
    background: $rgb-background;
    overflow: hidden;
    font-weight: 300;
    font-style: italic;
    font-size: 150%;
    border-left: 0.5em solid $rgb-primary;
    :before {
        content: '';
        position: absolute;
        right: -1em;
        top: -1em;
        display: block;
        width: 2em;
        height: 2em;
        background: $rgb-primary;
        @include vendor-prefix(transform, rotate(45deg));
    }
}
.shoutout-avatar {
    float: left;
    max-width: 5em;
    margin: 0 1em 0.25em 0;
}
.shoutout-author {
    margin: 0.5em 0 0;
    font-size: 0.88888em;
    font-weight: 400;
    font-style: normal;
}
.shoutout-author:before {
    content: '\2013\20';
}
.quote {
    margin: 2em 0;
    padding: 2em;
    background: $rgb-background;
    border-right: 0.5em solid $rgb-primary-light;
    font-size: 125%;
    font-weight: 300;
    font-style: italic;
}
.quote-author {
    margin: 0.5em 0 0;
    font-size: 0.88888em;
    font-weight: 400;
    font-style: normal;
}
.quote-author:before {
    content: '\2013\20';
}
