---
import Layout from '@/layouts/Layout.astro';
import { Hero } from '@/components/react/hero'
import Divider from '@/components/ui/divider.astro';
import Features from '@/components/Features.astro';
import ContactForm from '@/components/ContactForm.astro';
---

<Layout>
	<Hero client:only="react"
		  title="Software Engineering"
		  items="Architecture,Automation,DevOps,Front End,Full Stack,Micro Services,Mobile Apps,Testing,Web Applications"
		  ctaHref="https://roybailey.biz"
		  ctaAlt="About the Founder"
		>
		<span>With over 30 years of experience in the industry covering all aspects of modern software engineering.</span>
	</Hero>
	<div class="flex flex-col p-8 gap-8 items-center justify-center text-center">
		<Features />
		<Divider />
		<ContactForm />
		<Divider />
	</div>
</Layout>
