---
import AstroCopyright from '../components/Copyright.astro'
---

<div class="w-full pt-10 pb-20 mt-16">
	<div class="mx-auto px-4">
		<div class="flex flex-col gap-2 items-center justify-center">
			<div class="flex gap-8 flex-col items-start">
				<div class="flex gap-2 flex-col">
					<h2 class="text-3xl md:text-5xl tracking-tighter max-w-xl font-regular text-left">
						Odinium Ltd
					</h2>
					<p class="text-lg max-w-lg leading-relaxed tracking-tight text-foreground/75 text-left">
						User Centric Design Software
					</p>
				</div>
			</div>
			<div class="flex flex-col md:flex-row gap-10 items-start justify-end text-right text-sm italic">
				Copyright (c) 2025 Odinium Ltd, a private UK company providing consultancy on Software projects.<br/>
				Get in touch if you need to hire an experienced Management and Software Engineering team.
			</div>
		</div>
	</div>
</div>

