//
// ------------------------------------------------------------
// SCSS
// ------------------------------------------------------------
//
@import '../common';
/*
  ------------------------------------------------------------
  TESTIMONIALS
  ------------------------------------------------------------
*/
.testimonial_area {
    text-align: center;
    margin-bottom: 6em;
    margin-top: 6em;
}
.testimonial__image {
    width: 12em;
    height: 12em;
}
.testimonial_section h1 {
    text-transform: capitalize;
    font-weight: normal;
    // text-shadow: 1px 1px $rgb-primary-lightest;
    color: $rgb-primary;
}
.testimonial_section h3 {
    margin-bottom: 2em;
    color: $rgb-primary-darkest;
}
