//
// ------------------------------------------------------------
// SCSS
// ------------------------------------------------------------
//
@import '../common';
/*
  ------------------------------------------------------------
  LOGO
  ------------------------------------------------------------
*/
.mainlogo {
    //border: red 1px dashed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.mainlogo__image {
    //border: red 1px dashed;
    height: 4em;
    width: 4em;
    line-height: 4em;
    margin: 0;
    padding: 0;
}
.mainlogo__image img {
    max-height: 3em;
    max-width: 3em;
    min-height: 3em;
    min-width: 3em;
}
.mainlogo__description {
    //border: red 1px dashed;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0 1em;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.mainlogo__description__title {
    font-weight: 500;
    font-size: 150%;
    padding: 0;
    margin: 0;
    width: 100%;
}
.mainlogo__description__description {
    font-size: 50%;
    padding: 0.25em;
    margin: 0;
    width: 100%;
}
.mainlogo__social {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}
.mainlogo__social .social {
    margin: 0;
    padding: 0;
    font-size: 1em;
}
.mainlogo__social li {
    display: inline;
    margin: 0;
    padding: 0 0.5em;
}
.mainlogo__social li a {}
a {
    color: $rgb-primary;
}
@media #{$desktop-window} {
    .mainlogo {
        font-size: 75%;
    }
    .mainlogo__description,
    .mainlogo__image {
        //float: none;
        //display: inline-block;
        //height: 100%;
    }
}
