---
import '../assets/css/global.css'
import ThemeManager from "./ThemeManager.astro";
import ThemeSelect from "./ThemeSelect.astro";
import Header from "./Header.astro"
import Footer from "./Footer.astro"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>Odinium Ltd</title>
		<!--<ThemeManager defaultTheme="auto" />-->
	</head>
	<body>
		<main class="mx-auto max-w-7xl">
			<Header />
			<slot />
			<Footer />
		</main>
	</body>
</html>

<style is:global>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
